<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>schoolapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45E3BA421E85275C00A56D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45E3BA561E85275C00A56D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45E3BA611E85275C00A56D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
